@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.herofish { 
    width: 100%; 
    height: 100%;
    position: absolute; 
    overflow: hidden; 
 } 
 

  .herofish .fish1 ,
  .herofish .fish2
  {
    position: absolute;

  }
  
  
  .herofish .fish2 {
    width:100px;
    right: -20%;
    margin-top: 10%;
    animation: fishSwimReverse 20s linear infinite;
  }
  
  .herofish .fish1 {
    width: fit-content;
    right: -20%;
    bottom: 0;
    animation: fishSwimReverse 20s linear infinite;
  }
  
  
  
  @keyframes fishSwimReverse {
    0% {
      right: -20%;
      transform: scaleX(1)
    }
    25% {
      right: 30%;
      transform: scaleX(1)
    }
    50% {
      right: 100%;
      transform: scaleX(1);
    }
    51% {
      right: 100%;
      transform: scaleX(-1);
    }
    75% {
      right: 30%;
      transform: scaleX(-1);
    }
    100% {
      right: -20%;
      transform: scaleX(-1);
    }
  } 
  