@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.herofish { 
    width: 100%; 
    height: 100%;
    position: absolute; 
    overflow: hidden; 
 } 
 
  .herofish .fish,
  .herofish .fish1 {
    position: absolute;
    width: 20%;
  }
  
  .herofish .fish {
    left: -30%;
    margin-top: -3%;
    animation: fishSwim 12s linear infinite;
  }
  
  .herofish .fish1 {
    right: -30%;
    bottom: 0;
    margin-bottom: -3%;
    animation: fishSwimReverse 12s linear infinite;
  }
  
 @keyframes fishSwim {
    0% {
      left: -30%;
      transform: scaleX(1) rotate(20deg);
    }
    25% {
      left: 30%;
      transform: scaleX(1) rotate(10deg);
    }
    50% {
      left: 100%;
      transform: scaleX(1) rotate(20deg);
    }
    51% {
      left: 100%;
      transform: scaleX(-1) rotate(10deg);
    }
    75% {
      left: 30%;
      transform: scaleX(-1) rotate(20deg);
    }
    100% {
      left: -30%;
      transform: scaleX(-1) rotate(20deg);
    }
  } 
  
  @keyframes fishSwimReverse {
    0% {
      right: -30%;
      transform: scaleX(-1) rotate(20deg);
    }
    25% {
      right: 30%;
      transform: scaleX(-1) rotate(10deg);
    }
    50% {
      right: 100%;
      transform: scaleX(-1) rotate(20deg);
    }
    51% {
      right: 100%;
      transform: scaleX(1) rotate(10deg);
    }
    75% {
      right: 30%;
      transform: scaleX(1) rotate(20deg);
    }
    100% {
      right: -30%;
      transform: scaleX(1) rotate(10deg);
    }
  } 
  