/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-color);
  z-index: 2;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.align-left .hero-content {
  left: 10%;
  transform: translate(0, -50%);
  text-align: left;
}

.align-right .hero-content {
  left: auto;
  right: 10%;
  transform: translate(0, -50%);
  text-align: right;
}

.hero-breadcrumb {
  margin-top: 8px;
  opacity: 0.8;
  font-size: 16px;
}

.hero-title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 61px;
  letter-spacing: 0%;
  text-transform: none;
  margin: 40px 0 16px 0;
  text-align: center;
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%; 
  white-space: nowrap;   
  display: block;        
  width: max-content;   
  text-align: center;
}


.hero-content-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
}

@media (max-width: 900px) {
  .hero-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 8px 0;
  }

  .hero-subtitle {
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  }

  .hero-content-container {
    margin-top: 48px;
  }
  .hero-section {
  height: 30vh;
}
}